generated-sources/npwsdl/CPI-PORTAL TO ECC - CREATE DELIVERY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13"/>
                    <xsd:fractionDigits value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="Zsdptdnitem">
                <xsd:sequence>
                    <xsd:element name="Itemno" type="n0:numeric6"/>
                    <xsd:element name="Deliveryitemno" type="n0:numeric6"/>
                    <xsd:element name="Productid" type="n0:char18"/>
                    <xsd:element name="Deliveryquantity" type="n0:quantum13.3"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZsdptdnitem">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Zsdptdnitem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Zrfcsddeliverycreate">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Deliverydate" type="n0:date"/>
                        <xsd:element name="Deliveryloc" type="n0:char4"/>
                        <xsd:element name="Portaldeliveryid" type="n0:char40"/>
                        <xsd:element name="Saporderid" type="n0:char10"/>
                        <xsd:element name="Titem" type="tns:TableOfZsdptdnitem"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZrfcsddeliverycreateResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Resultmessage" type="xsd:string"/>
                        <xsd:element name="Resulttype" type="n0:char1"/>
                        <xsd:element name="Sapdeliveryid" type="n0:char10"/>
                        <xsd:element name="Titem" type="tns:TableOfZsdptdnitem"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Zrfcsddeliverycreate">
    <wsdl:part name="parameters" element="tns:Zrfcsddeliverycreate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZrfcsddeliverycreateResponse">
    <wsdl:part name="parameter" element="tns:ZrfcsddeliverycreateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZPortal_DeliveryCreate">
    <wsdl:operation name="Zrfcsddeliverycreate">
      <wsdl:input message="tns:Zrfcsddeliverycreate">
    </wsdl:input>
      <wsdl:output message="tns:ZrfcsddeliverycreateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZPortal_DeliveryCreate" type="tns:ZPortal_DeliveryCreate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="Zrfcsddeliverycreate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZPortal_DeliveryCreate">
    <wsdl:port name="ZPortal_DeliveryCreate" binding="tns:ZPortal_DeliveryCreate">
      <soap:address location="https://e600180-hcioem.hcisbt.cn1.hana.ondemand.com:443/cxf/PORTAL/ECC/CREATEDELIVERY"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsp:Policy wsu:Id="BN__binding" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
