wsdl2java/npwsdl/CPI_QueryOrganisationalUnitIn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sap.com/xi/AP/FO/MOM/Global" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:n2="http://sap.com/xi/AP/Common/Global" xmlns:n3="http://sap.com/xi/AP/Common/GDT" xmlns:n4="http://sap.com/xi/BASIS/Global" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n5="http://sap.com/xi/Common/DataTypes" xmlns:n6="http://sap.com/xi/A1S/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rfc="urn:sap-com:sap:rfc:functions" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://sap.com/xi/AP/FO/MOM/Global" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/AP/FO/MOM/Global"/>
            <xsd:element name="OrganisationalUnitByIDQuery_Sync" type="xi2:OrganisationalUnitByIDQueryMessage_sync"/>
            <xsd:element name="OrganisationalUnitByIDResponse_sync" type="xi2:OrganisationalUnitByIDResponseMessage_sync"/>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/Global" xmlns="http://sap.com/xi/AP/Common/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeLogData">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="url" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="id" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByDate">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi3:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi3:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryDate" type="xi4:Date"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryDate" type="xi4:Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectionByIdentifier">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="InclusionExclusionCode" type="xi3:InclusionExclusionCode"/>
                    <xsd:element name="IntervalBoundaryTypeCode" type="xi3:IntervalBoundaryTypeCode"/>
                    <xsd:element minOccurs="0" name="LowerBoundaryIdentifier" type="xi3:SearchText"/>
                    <xsd:element minOccurs="0" name="UpperBoundaryIdentifier" type="xi3:SearchText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StandardFaultMessageExtension">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="Log" type="xi3:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="StandardFaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="ExchangeFaultData"/>
                        <xsd:element name="addition" type="StandardFaultMessageExtension"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/AP/FO/MOM/Global" xmlns="http://sap.com/xi/AP/FO/MOM/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/Common/DataTypes"/>
            <xsd:import namespace="http://sap.com/xi/A1S/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="OrganisationalUnitByElementsResponse_sync">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ChangeStateID" type="xi3:ChangeStateID"/>
                    <xsd:element minOccurs="0" name="ID" type="xi3:OrganisationalCentreID"/>
                    <xsd:element minOccurs="0" name="UUID" type="xi3:UUID"/>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="NameAndAddress" type="OrganisationalUnitQueryRepsonseNameAndAddress"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Functions" type="OrganisationalUnitQueryResponseFunctions"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Identification" type="OrganisationalUnitQueryResponseIdentification"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmployeeAssignment" type="OrganisationalUnitQueryResponseEmployeeAssignment"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParentOrganisationalUnitAssignment" type="OrganisationalUnitQueryResponseParentOrganisationalUnitAssignment"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="DistributionChannelAndDivision" type="OrganisationalUnitQueryResponseDistributionChannelAndDivision"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Company" type="OrganisationalUnitQueryResponseCompany"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Manager" type="OrganisationalUnitQueryResponseManager"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitByIDQueryMessage_sync">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrganisationalUnitSelectionByID" type="xi7:OrganisationalUnitSelectionByID"/>
                    <xsd:element minOccurs="0" name="ProcessingConditions" type="xi3:QueryProcessingConditions"/>
                    <xsd:element minOccurs="0" name="RequestedElements" type="OrganisationalUnitRequestedElements"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitByIDResponseMessage_sync">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganisationalUnit" type="OrganisationalUnitByElementsResponse_sync"/>
                    <xsd:element name="ProcessingConditions" type="xi3:ResponseProcessingConditions"/>
                    <xsd:element minOccurs="0" name="Log" type="xi3:Log"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryRepsonseNameAndAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="Name" type="xi3:LANGUAGEINDEPENDENT_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="AddressSnapshotUUID" type="xi3:UUID"/>
                    <xsd:element minOccurs="0" name="Address" type="xi7:OrganisationalUnitMaintainRequestAddress"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryRequestedElements">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="nameAndAddressTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="functionsTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="identificationTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="employeeAssignmentTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="parentOrganisationalUnitAssignmentTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="distributionChannelAndDivisionTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="companyTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                        <xsd:attribute name="managerTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseCompany">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="OrganisationalUnitID" type="xi3:OrganisationalCentreID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseDistributionChannelAndDivision">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="DistributionChannelCode" type="xi3:DistributionChannelCode"/>
                    <xsd:element minOccurs="0" name="DivisionCode" type="xi3:DivisionCode"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseEmployeeAssignment">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="RoleCode" type="xi6:PartyRoleCode"/>
                    <xsd:element minOccurs="0" name="EmployeeUUID" type="xi3:UUID"/>
                    <xsd:element minOccurs="0" name="EmployeeInternalID" type="xi3:BusinessPartnerInternalID"/>
                    <xsd:element minOccurs="0" name="JobUUID" type="xi3:UUID"/>
                    <xsd:element minOccurs="0" name="JobID" type="xi3:JobID"/>
                    <xsd:element minOccurs="0" name="ReportingLineIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="FunctionalIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="SystemAdministrativeData" type="xi6:SystemAdministrativeData"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseFunctions">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="CompanyIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="ReportingLineIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="SalesIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="ServiceIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="MarketingIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="SalesOrganisationIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="ServiceOrganisationIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="SalesOfficeIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="SalesGroupIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="CurrencyCode" type="xi3:CurrencyCode"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseIdentification">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="IDTypeCode" type="xi3:PartyIdentifierTypeCode"/>
                    <xsd:element minOccurs="0" name="ID" type="xi3:NOALPHANUMERICCONVERSION_PartyID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseManager">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="ReportingLineManagerIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="FunctionalManagerIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="BusinessPartnerInternalID" type="xi3:BusinessPartnerInternalID"/>
                    <xsd:element minOccurs="0" name="EmployeeID" type="xi3:EmployeeID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitQueryResponseParentOrganisationalUnitAssignment">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="ValidityPeriod" type="xi3:CLOSED_DatePeriod"/>
                    <xsd:element minOccurs="0" name="ParentOrganisationalUnitUUID" type="xi3:UUID"/>
                    <xsd:element minOccurs="0" name="ParentOrganisationalUnitID" type="xi3:OrganisationalCentreID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitRequestedElements">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="OrganisationalUnitRequestedElements" type="OrganisationalUnitQueryRequestedElements"/>
                </xsd:sequence>
                <xsd:attribute name="OrganisationalUnitTransmissionRequestCode" type="xi3:TransmissionRequestCode"/>
            </xsd:complexType>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/AP/Common/GDT" xmlns="http://sap.com/xi/AP/Common/GDT" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/BASIS/Global"/>
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="BusinessPartnerInternalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="CLOSED_DatePeriod">
                <xsd:sequence>
                    <xsd:element name="StartDate" type="Date"/>
                    <xsd:element name="EndDate" type="Date"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="ChangeStateID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CountryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="CurrencyCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="DistributionChannelCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="DistributionChannelCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="DistributionChannelCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="DivisionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="DivisionCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="DivisionCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ENCRYPTED_MEDIUM_EmailURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ENCRYPTED_MEDIUM_EmailURI.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ENCRYPTED_MEDIUM_EmailURI.Content">
                <xsd:restriction base="xsd:anyURI">
                    <xsd:maxLength value="765"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EXTENDED_WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI">
                    <xsd:maxLength value="1280"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="EmployeeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="EmployeeID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="EmployeeID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EncryptedHouseID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EncryptedPOBoxID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EncryptedPostalCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="EncryptedStreetName">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="360"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="GeoCoordinates">
                <xsd:sequence>
                    <xsd:element name="LatitudeMeasure" type="Measure"/>
                    <xsd:element name="LongitudeMeasure" type="Measure"/>
                    <xsd:element minOccurs="0" name="AltitudeMeasure" type="Measure"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="InclusionExclusionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Indicator">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:boolean"/>
            </xsd:simpleType>
            <xsd:simpleType name="IntervalBoundaryTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="JobID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="240"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_ENCRYPTED_NUMBER_SHORT_Description">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="350"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:complexType name="Log">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"/>
                    <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="LogItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItem">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"/>
                    <xsd:element minOccurs="0" name="CategoryCode" type="LogItemCategoryCode"/>
                    <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
                    <xsd:element minOccurs="0" name="ReferenceObjectNodeSenderTechnicalID" type="ObjectNodePartyTechnicalID"/>
                    <xsd:element minOccurs="0" name="ReferenceMessageElementName" type="LANGUAGEINDEPENDENT_Name"/>
                    <xsd:element name="Note" type="LogItemNote"/>
                    <xsd:element minOccurs="0" name="NoteTemplateText" type="LogItemNoteTemplateText"/>
                    <xsd:element minOccurs="0" name="LogItemNotePlaceholderSubstitutionList" type="LogItemNotePlaceholderSubstitutionList"/>
                    <xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="LogItemCategoryCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="LogItemCategoryCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="LogItemCategoryCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="15"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemNote">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="200"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
                <xsd:sequence>
                    <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="SecondPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="ThirdPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element minOccurs="0" name="FourthPlaceholderID" type="LogItemTemplatePlaceholderID"/>
                    <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="SecondPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="ThirdPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                    <xsd:element minOccurs="0" name="FourthPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="LogItemNoteTemplateText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="73"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemSeverityCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTemplatePlaceholderID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:length value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="LogItemTypeID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="40"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="Measure">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Measure</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="Measure.Content">
                        <xsd:attribute name="unitCode" type="MeasureUnitCode" use="required"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="Measure.Content">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="31"/>
                    <xsd:fractionDigits value="14"/>
                    <xsd:maxInclusive value="99999999999999999.99999999999999"/>
                    <xsd:minInclusive value="-99999999999999999.99999999999999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="MeasureUnitCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="NOALPHANUMERICCONVERSION_PartyID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="NOALPHANUMERICCONVERSION_PartyID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="NOALPHANUMERICCONVERSION_PartyID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="60"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="NumberValue">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:int">
                    <xsd:maxInclusive value="999999999"/>
                    <xsd:minInclusive value="0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ObjectID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="ObjectID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="ObjectID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="100"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ObjectNodePartyTechnicalID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="70"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="OrganisationalCentreID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="20"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="PartyIdentifierTypeCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="PartyIdentifierTypeCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="PartyIdentifierTypeCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="6"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ProcessingResultCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="2"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="QueryProcessingConditions">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="QueryHitsMaximumNumberValue" type="NumberValue"/>
                    <xsd:element name="QueryHitsUnlimitedIndicator" type="Indicator"/>
                    <xsd:element minOccurs="0" name="LastReturnedObjectID" type="ObjectID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="RegionCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="RegionCode.Content">
                        <xsd:attribute name="listID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listVersionID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="15"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="listAgencySchemeAgencyID" type="xi4:AgencyIdentificationCode"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="RegionCode.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="6"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ResponseProcessingConditions">
                <xsd:sequence>
                    <xsd:element name="ReturnedQueryHitsNumberValue" type="NumberValue"/>
                    <xsd:element name="MoreHitsAvailableIndicator" type="Indicator"/>
                    <xsd:element minOccurs="0" name="LastReturnedObjectID" type="ObjectID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="SearchText">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="TimeZoneCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="TransmissionRequestCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:maxLength value="1"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="UUID.Content">
                        <xsd:attribute name="schemeID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="schemeAgencyID">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:token">
                                    <xsd:maxLength value="60"/>
                                    <xsd:minLength value="1"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:simpleType name="UUID.Content">
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:minLength value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="WebURI">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:anyURI"/>
            </xsd:simpleType>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/BASIS/Global" xmlns="http://sap.com/xi/BASIS/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:simpleType name="AgencyIdentificationCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="6"/>
                    <xsd:enumeration value="16"/>
                    <xsd:enumeration value="17"/>
                    <xsd:enumeration value="84"/>
                    <xsd:enumeration value="107"/>
                    <xsd:enumeration value="109"/>
                    <xsd:enumeration value="112"/>
                    <xsd:enumeration value="113"/>
                    <xsd:enumeration value="114"/>
                    <xsd:enumeration value="116"/>
                    <xsd:enumeration value="117"/>
                    <xsd:enumeration value="124"/>
                    <xsd:enumeration value="130"/>
                    <xsd:enumeration value="131"/>
                    <xsd:enumeration value="138"/>
                    <xsd:enumeration value="142"/>
                    <xsd:enumeration value="146"/>
                    <xsd:enumeration value="262"/>
                    <xsd:enumeration value="296"/>
                    <xsd:enumeration value="310"/>
                    <xsd:maxLength value="3"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="Date">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:date">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/Common/DataTypes" xmlns="http://sap.com/xi/Common/DataTypes" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:simpleType name="GLOBAL_DateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="PartyRoleCode">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="10"/>
                    <xsd:minLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="SystemAdministrativeData">
                <xsd:sequence>
                    <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="CreationIdentityUUID" type="UUID"/>
                    <xsd:element name="LastChangeDateTime" type="GLOBAL_DateTime"/>
                    <xsd:element name="LastChangeIdentityUUID" type="UUID"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="UUID">
                <xsd:annotation>
                    <xsd:documentation xml:lang="EN">
                        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:restriction base="xsd:token">
                    <xsd:maxLength value="36"/>
                    <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    <xsd:schema targetNamespace="http://sap.com/xi/A1S/Global" xmlns="http://sap.com/xi/A1S/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/AP/Common/Global" xmlns:xi2="http://sap.com/xi/AP/FO/MOM/Global" xmlns:xi3="http://sap.com/xi/AP/Common/GDT" xmlns:xi4="http://sap.com/xi/BASIS/Global" xmlns:xi6="http://sap.com/xi/Common/DataTypes" xmlns:xi7="http://sap.com/xi/A1S/Global">
            <xsd:import namespace="http://sap.com/xi/AP/Common/Global"/>
            <xsd:import namespace="http://sap.com/xi/AP/Common/GDT"/>
            <xsd:complexType name="OrganisationalUnitMaintainRequestAddress">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="CompanyName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="DepartmentName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="CountryCode" type="xi3:CountryCode"/>
                    <xsd:element minOccurs="0" name="CareOfName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="AddressLine1" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="AddressLine2" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="HouseID" type="xi3:EncryptedHouseID"/>
                    <xsd:element minOccurs="0" name="StreetName" type="xi3:EncryptedStreetName"/>
                    <xsd:element minOccurs="0" name="AddressLine4" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="AddressLine5" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="CityName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="RegionCode" type="xi3:RegionCode"/>
                    <xsd:element minOccurs="0" name="StreetPostalCode" type="xi3:EncryptedPostalCode"/>
                    <xsd:element minOccurs="0" name="DistrictName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="CountyName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="POBoxIndicator" type="xi3:Indicator"/>
                    <xsd:element minOccurs="0" name="POBoxID" type="xi3:EncryptedPOBoxID"/>
                    <xsd:element minOccurs="0" name="POBoxPostalCode" type="xi3:EncryptedPostalCode"/>
                    <xsd:element minOccurs="0" name="POBoxDeviatingCityName" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_MEDIUM_Name"/>
                    <xsd:element minOccurs="0" name="POBoxDeviatingCountryCode" type="xi3:CountryCode"/>
                    <xsd:element minOccurs="0" name="POBoxDeviatingRegionCode" type="xi3:RegionCode"/>
                    <xsd:element minOccurs="0" name="GeoCoordinates" type="xi3:GeoCoordinates"/>
                    <xsd:element minOccurs="0" name="TimeZoneCode" type="xi3:TimeZoneCode"/>
                    <xsd:element minOccurs="0" name="ConventionalPhoneFormattedNumberDescription" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_NUMBER_SHORT_Description"/>
                    <xsd:element minOccurs="0" name="FacsimileFormattedNumberDescription" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_NUMBER_SHORT_Description"/>
                    <xsd:element minOccurs="0" name="MobileFormattedNumberDescription" type="xi3:LANGUAGEINDEPENDENT_ENCRYPTED_NUMBER_SHORT_Description"/>
                    <xsd:element minOccurs="0" name="EMailURI" type="xi3:ENCRYPTED_MEDIUM_EmailURI"/>
                    <xsd:element minOccurs="0" name="WebURI" type="xi3:EXTENDED_WebURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="OrganisationalUnitSelectionByID">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Identifier" type="xi1:SelectionByIdentifier"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ValidityPeriodStartDate" type="xi1:SelectionByDate"/>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="ValidityPeriodEndDate" type="xi1:SelectionByDate"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="OrganisationalUnitByIDResponse_sync">
    <wsdl:part name="OrganisationalUnitByIDResponse_sync" element="n1:OrganisationalUnitByIDResponse_sync">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StandardFaultMessage">
    <wsdl:part name="StandardFaultMessage" element="n2:StandardFaultMessage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrganisationalUnitByIDQuery_Sync">
    <wsdl:part name="OrganisationalUnitByIDQuery_Sync" element="n1:OrganisationalUnitByIDQuery_Sync">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="QueryOrganisationalUnitIn">
<wsdl:documentation>
            <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
                <sapdoc:docitem applicationComponent="LOD-LE-OM-OM"/>
            </sapdoc:sapdoc>
        </wsdl:documentation>
    <wsdl:operation name="FindByID">
      <wsdl:input message="tns:OrganisationalUnitByIDQuery_Sync">
    </wsdl:input>
      <wsdl:output message="tns:OrganisationalUnitByIDResponse_sync">
    </wsdl:output>
      <wsdl:fault name="StandardFaultMessage" message="tns:StandardFaultMessage">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding_SOAP12" type="tns:QueryOrganisationalUnitIn">
    <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy>
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="FindByID">
      <wsoap12:operation soapAction="http://sap.com/xi/AP/FO/MOM/Global/QueryOrganisationalUnitIn/FindByIDRequest" style="document"/>
      <wsdl:input>
        <wsoap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="StandardFaultMessage">
        <wsoap12:fault name="StandardFaultMessage" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="binding_SOAP12" binding="tns:binding_SOAP12">
      <wsoap12:address location="https://e600180-hcioem.hcisbt.cn1.hana.ondemand.com:443/cxf/C4C/PORTAL/GETORGANISATIONALUNIT"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true"/>
    <wsp:Policy wsu:Id="BN__binding">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
