wsdl2java/npwsdl/ZPortal_DeliveryList_CLN.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="true"/>
<wsp:Policy wsu:Id="BN_BN_ZPORTAL_DELIVERYLIST">
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
<saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://www.w3.org/2004/08/soap/features/http-optimization" wsp:Optional="true"/>
<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
<wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
<wsp:All>
<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
<wsp:Policy>
<sp:TransportToken>
<wsp:Policy>
<sp:HttpsToken>
<wsp:Policy>
<sp:HttpBasicAuthentication/>
</wsp:Policy>
</sp:HttpsToken>
</wsp:Policy>
</sp:TransportToken>
<sp:AlgorithmSuite>
<wsp:Policy>
<sp:TripleDesRsa15/>
</wsp:Policy>
</sp:AlgorithmSuite>
<sp:Layout>
<wsp:Policy>
<sp:Strict/>
</wsp:Policy>
</sp:Layout>
</wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="IF_IF_ZPortal_DeliveryList">
<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
<sapsession:enableSession>false</sapsession:enableSession>
</sapsession:Session>
<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true"/>
</wsp:Policy>
<wsp:Policy wsu:Id="OP_IF_OP_Zrfcsddeliverylist">
<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
</wsp:Policy>
<wsdl:types>
<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
<xsd:simpleType name="char1">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char10">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="char18">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="18"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="date">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="10"/>
<xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="numeric6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:pattern value="\d*"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="quantum13.3">
<xsd:restriction base="xsd:decimal">
<xsd:totalDigits value="13"/>
<xsd:fractionDigits value="3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
<xsd:complexType name="Zsdptdninfo">
<xsd:sequence>
<xsd:element name="Sapdeliveryid" type="n0:char10"/>
<xsd:element name="Soldto" type="n0:char10"/>
<xsd:element name="Sendto" type="n0:char10"/>
<xsd:element name="Deliverydate" type="n0:date"/>
<xsd:element name="Actualdeliverydate" type="n0:date"/>
<xsd:element name="Deliveryitemno" type="n0:numeric6"/>
<xsd:element name="Reforderid" type="n0:char10"/>
<xsd:element name="Reforderitemno" type="n0:numeric6"/>
<xsd:element name="Productid" type="n0:char18"/>
<xsd:element name="Deliveryquantity" type="n0:quantum13.3"/>
<xsd:element name="Changedon" type="n0:date"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TableOfZsdptdninfo">
<xsd:sequence>
<xsd:element name="item" type="tns:Zsdptdninfo" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Zrfcsddeliverylist">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="Changedfrom" type="n0:date"/>
<xsd:element name="Changedto" type="n0:date"/>
<xsd:element name="Deliverydatefrom" type="n0:date"/>
<xsd:element name="Deliverydateto" type="n0:date"/>
<xsd:element name="EtList" type="tns:TableOfZsdptdninfo"/>
<xsd:element name="Productid" type="xsd:string"/>
<xsd:element name="Sapdeliveryid" type="xsd:string"/>
<xsd:element name="Saporderid" type="xsd:string"/>
<xsd:element name="Sendto" type="xsd:string"/>
<xsd:element name="Soldto" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="ZrfcsddeliverylistResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="EtList" type="tns:TableOfZsdptdninfo"/>
<xsd:element name="Resultmessage" type="xsd:string"/>
<xsd:element name="Resulttype" type="n0:char1"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="Zrfcsddeliverylist">
<wsdl:part name="parameters" element="tns:Zrfcsddeliverylist"/>
</wsdl:message>
<wsdl:message name="ZrfcsddeliverylistResponse">
<wsdl:part name="parameter" element="tns:ZrfcsddeliverylistResponse"/>
</wsdl:message>
<wsdl:portType name="ZPortal_DeliveryList">
<wsp:Policy>
<wsp:PolicyReference URI="#IF_IF_ZPortal_DeliveryList"/>
</wsp:Policy>
<wsdl:operation name="Zrfcsddeliverylist">
<wsp:Policy>
<wsp:PolicyReference URI="#OP_IF_OP_Zrfcsddeliverylist"/>
</wsp:Policy>
<wsdl:input message="tns:Zrfcsddeliverylist"/>
<wsdl:output message="tns:ZrfcsddeliverylistResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZPORTAL_DELIVERYLIST" type="tns:ZPortal_DeliveryList">
<wsp:Policy>
<wsp:PolicyReference URI="#BN_BN_ZPORTAL_DELIVERYLIST"/>
</wsp:Policy>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<wsdl:operation name="Zrfcsddeliverylist">
<soap:operation soapAction="" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZPORTAL_DELIVERYLIST">
<wsdl:port name="ZPORTAL_DELIVERYLIST" binding="tns:ZPORTAL_DELIVERYLIST">
<soap:address location="http://cln.spreadtrum.com:8000/sap/bc/srt/rfc/sap/zportal_deliverylist/800/zportal_deliverylist/zportal_deliverylist"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>